@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    user-select: none;  
}

.header, .main, .footer, .main-container, .article {
    display: flex;
}

.header, .main, .footer, .article {
    width: 100%;
}

.header {
    justify-content: center;
    font-weight: 700;
    position: fixed;
    z-index: 100;
    top: 0;
}

.main {
    margin-top: 88px;
}

.main, .article, .footer {
    flex-direction: column;
    align-items: center;
}

.header-list {
    display: flex;
    padding: 32px 0px;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    margin-bottom: 0rem;
}

.header-list a, .nav-burger a, .p-lang a{
    text-decoration: none;
}

.menu-burger {
    width: 100%;
    position: relative;
    text-align: center;
    height: 40px;
}

#check-menu {
    display: none;
}

#label-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    line-height: 40px;
}

.burger-line {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 2px;
}

.second, .third {
    top: 18px;
}

.fourth {
    top: 28px;
}

.nav-burger {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: ease-in 0.3s;
}

.nav-burger a {
    display: block;
    width: 100%;
    padding: 10px;
    font-weight: 500;
}

#check-menu:checked ~ .nav-burger {
    max-height: 500px;
    font-size: 16px;
    transition: ease-in 0.3s;
}
    
.head-descript {
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
    align-items: flex-end;
}

.p-head {
    font-size: 48px;
    font-weight: 900;
}

.p-descript {
    font-size: 18px;
    font-weight: 300;
    margin-top: 30px;
}

.article, .head-descript{
    margin-bottom: 40px;
}

.p-descript-bold {
    font-weight: 700;
    font-size: 14px;
    margin-top: 20px;
}

.stars {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

p.head {
    font-size: 34px;
}

.skills-art {
    text-align: center;
    padding: 40px 0px;
}

.portfolio-art {
    text-align: center;
    padding: 40px 0px;
}

    
.info {
    text-align: center;
    padding: 80px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    margin-top: 30px;
    border-radius: 40px;
    width: 180px;
    padding: 10px 15px;
    font-size: 18px;
}

.social-net {
    display: flex;
    width: 80%;
    max-width: 343px;
    justify-content: space-between;
    margin-top: 80px;
}

.work-example img, .img-me {
    width: 100%;
}

.request-art {
    padding: 50px 0px;
}

.request-form div {
    margin: 15px 0px;
}

.total {
    display: flex;
    justify-content: space-between;
}

.pc-theme-mode {
    cursor: pointer;
}


@media (min-width: 1200px) {

    .menu-burger {
        display: none;
    }
    
    .main-container {
        width: 60%;
        max-width: 1200px;
        flex-direction: column;
    }
    
    .main-descript {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 120px;
    }
    
    .programs {
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
    }
    
    .program {
        width: 25%;
        text-align: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: space-between;
        margin: 0 10px;
        padding: 10px;
    }
    
    .work-example {
        display: flex;
        justify-content: center;
        margin: 50px 0px;
    }

    #about-me, 
    #skills, 
    #portfolio, 
    #contacts {
        border-top: 124px solid transparent;
        margin-top: -124px;
        background-clip: padding-box;
}

}

@media (max-width: 1199px) and (min-width: 600px) {

    .menu-burger {
        display: none;
    }
    
    .main-container {
        width: 100%;
        flex-direction: column;
        padding: 0px 25px;
    }
    
    .main-descript {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 60px;
    }
    
    .programs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 30px;
    }
    
    .program {
        width: 25%;
        text-align: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: space-between;
        margin: 0 50px;
        padding: 10px;
    }
    
    .work-example {
        margin: 50px auto;
        max-width: 100%;
    }

}

@media (max-width: 599px) {

    .main {
        margin-top: 40px;
    }

    .default-menu {
        display: none;
    }

    .main-container {
        width: 100%;
        flex-direction: column;
        padding: 0px 10px;
    }

    .head-descript {
        align-content: center;
    }
    
    .head-descript .p-descript,
    .head-descript .p-head,
    .head-descript .p-lang {
        font-size: 16px;
    }

    .main-descript {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 30px;
    }
    
    .programs {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-top: 30px;
    }
    
    .program {
        width: 70%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        align-content: space-around;
        margin: 0px 50px;
        padding: 10px;
    }
    
    .work-example {
        margin: 50px auto;
        max-width: 100%;
    }
 
    #about-me, 
    #skills, 
    #portfolio, 
    #contacts {
        border-top: 40px solid transparent;
        margin-top: -40px;
        background-clip: padding-box;
}

}